@model eli_mubu.Models.AboutUs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AboutUs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutTxt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutTxt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniTxt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniTxt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
